body{
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    color: #888;
    line-height: 2;
}
.main-header{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 35%;
padding: 8% 5% 8% 10%;
box-sizing: border-box;
background-image: url(../images/overlay.png), url(../images/bg.jpg);
background-position: top, left;
background-size: auto, cover;

}
.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 8% 10% 5% 5%;
    box-sizing: border-box;
}