    body{
        font-family: arial, sans-serif;
        background-color: #CCCCCC;
        margin: 0;
    }
    .cabecalho{
        height: 500px;
        background-image: url(../img/bg-3.jpg);
        background-position:right center;
        background-size:cover;
    }
    .cabecalho ul{
        text-align: right;
        padding: 2%;
    }
    .cabecalho li{
        list-style-type: none;
        display: inline-block;
        margin-right: 1%;
        border: solid 2px white;
        background-color: #A2A19A;
    }
    .cabecalho a{
        background-color: rgba(0,0,0,0.2);
        color: white;
        display: block;
        padding: 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .cabecalho a:hover{
        background-color: rgba(0,0,0,0.5);    
    }
    .c-texto{
        text-align: center;
        margin: 7%;
    }
    .c-texto h1{
        text-transform: uppercase;
        font-size: 46px;
        color: white;
        text-shadow: 3px 3px 3px #333;
    }
    .c-texto p{
        background-color: rgba(0,0,0,0.6);
        color: white;
        border-bottom: solid 2px white;
        width: 30%;
        padding: 1%;
        margin: auto auto 5% auto;
    }
    main{
        width: 80%;
        margin: auto;    
    }
    .cards{
        display: block;
        background-color: white;
        height: 100%;
        padding: 6px;
        margin-top: 15px;
        overflow: auto;
    }
    .cards img{
        width: 100%;
        display: block;
    }
    #card1, #card2{
        color: white;
        background-color: #464646;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 2px;
        float: left;
        width: 32%;
        box-sizing: border-box;
        margin-right: 2%;
    }
    #card3{
        color: white;
        background-color: #464646;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 32%;
        float: left;
        box-sizing: border-box;
    }
    #card1 p, #card2 p, #card3 p{

        padding-left: 3%;
    }
    .conteudo{
        clear: both;
        display: block;
        background-color: white;
        padding: 10px;
        margin-top: 1%;
        margin-bottom: 1%;
        overflow: auto;
    }

    article h2{
        margin: 2px;
        padding: 1%;
        font-size: 30px;
        color: black;
        background-color: #EEEEEE;
        border-bottom: solid 2px #CCCCCC;
    }
    article p{
        font-size: 20px;
    }
    footer{
        text-align: center;
        font-size: 18px;
        color: white;
        background-color: #6B6C68;
        text-shadow: 3px 3px #4F4643;
        padding: 2%;
    }